<div class="place-logo">
	<nav class="navbar navbar-expand-lg justify-content-center">
		<%= link_to clothing_path, class:"navbar-brand " do%>
			<h2 class="awesome">AWESOME</h2>
		<% end %>
		<div class="range">
			<i class="fa fa-heart" style="font-size:24px"></i>
			<i class="fa fa-shopping-cart" style="font-size:24px"></i>
		</div>
		<div class="looking">
			<form class="form-inline my-2 my-lg-0" >
			    <div class="input-group" style="position: fixed;">
			      <input type="text" class="form-control" placeholder="What are you looking for?">
			      <button type="button" class="btn btn-outline-dark">Search</button>
			    </div>
	  		</form>
	  	</div>
	</nav> 
</div>