<div class="place-logo">
	<nav class="navbar navbar-expand-lg justify-content-center">
		<%= link_to clothing_path, class:"navbar-brand " do%>
			<h2 class="awesome">AWESOME</h2>
		<% end %>
	</nav>
</div>